@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  min-height: 300px;
  max-height: 350px;
  transition: 0.3 ease all;
}

img:hover {
  scale: 102%;
}
